html,
body {
  width: 100%;
  height: 100%;
}
html #home,
body #home {
  width: 100%;
  height: 100%;
  position: relative;
}
html #home .homeHeader,
body #home .homeHeader {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
}
html #home .homeHeader .homeHeader-top,
body #home .homeHeader .homeHeader-top {
  width: 100%;
  height: 45px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 5px 20px;
}
html #home .homeHeader .homeHeader-top .headerTitle,
body #home .homeHeader .homeHeader-top .headerTitle {
  color: #000;
  margin-right: 10px;
  font-size: 18px;
}
html #home .homeHeader .homeHeader-top .toSearch,
body #home .homeHeader .homeHeader-top .toSearch {
  width: 250px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #eee;
  border-radius: 5px;
}
html #home .homeHeader .homeHeader-top .toSearch .icon-sousuo,
body #home .homeHeader .homeHeader-top .toSearch .icon-sousuo {
  font-size: 20px;
  vertical-align: middle;
}
html #home .homeHeader .homeHeader-top .toSearch .searchProduct,
body #home .homeHeader .homeHeader-top .toSearch .searchProduct {
  font-size: 14px;
}
html #home .homeHeader .homeHeader-bottom,
body #home .homeHeader .homeHeader-bottom {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  background: #fff;
}
html #home .homeHeader .homeHeader-bottom .headerTab,
body #home .homeHeader .homeHeader-bottom .headerTab {
  display: flex;
  align-items: center;
  height: 40px;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
}
html #home .homeHeader .homeHeader-bottom .headerTab .tabItem,
body #home .homeHeader .homeHeader-bottom .headerTab .tabItem {
  height: 40px;
  box-sizing: border-box;
  margin: 0 15px;
  font-size: 15px;
  line-height: 40px;
}
html #home .homeHeader .homeHeader-bottom .headerTab .tabItem.active,
body #home .homeHeader .homeHeader-bottom .headerTab .tabItem.active {
  color: #f00;
  border-bottom: 2px solid #f00;
}
html #home .homeHeader .homeHeader-bottom .icon,
body #home .homeHeader .homeHeader-bottom .icon {
  color: #333;
}
html #home .homeHeader .homeHeader-bottom .icon .iconfont,
body #home .homeHeader .homeHeader-bottom .icon .iconfont {
  position: absolute;
  right: 20px;
  top: 13px;
  z-index: 7;
}
html #home .homeHeader .homeHeader-bottom .icon .iconfontshowlist,
body #home .homeHeader .homeHeader-bottom .icon .iconfontshowlist {
  display: none;
}
html #home .homeHeader .homeHeader-bottom .alltablist,
body #home .homeHeader .homeHeader-bottom .alltablist {
  width: 100%;
  position: absolute;
  z-index: 6;
  background: #fff;
  padding: 15px;
}
html #home .homeHeader .homeHeader-bottom .alltablist .alltablist-title,
body #home .homeHeader .homeHeader-bottom .alltablist .alltablist-title {
  font-size: 15px;
}
html #home .homeHeader .homeHeader-bottom .alltablist .alltab,
body #home .homeHeader .homeHeader-bottom .alltablist .alltab {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
html #home .homeHeader .homeHeader-bottom .alltablist .alltab .tabItem,
body #home .homeHeader .homeHeader-bottom .alltablist .alltab .tabItem {
  border: 1px solid #333;
  border-radius: 5px;
  width: 70px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  margin: 0 0 20px 10px;
  font-size: 12px;
}
html #home .homeHeader .homeHeader-bottom .alltablist .alltab .tabItem.active,
body #home .homeHeader .homeHeader-bottom .alltablist .alltab .tabItem.active {
  color: #f00;
  border: 1px solid #f00;
}
html #home .mask,
body #home .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 5;
}
.content {
  margin-top: 95px;
  padding-bottom: 50px;
  top: 0;
}
.content .scrollImg {
  width: 100%;
  height: 200px;
}
.content .scrollImg .imglist {
  position: relative;
}
.content .scrollImg .imglist .imgItem {
  position: absolute;
  top: 0;
  left: 0;
}
.content .scrollImg .imglist .imgItem img {
  width: 100%;
  height: 200px;
}
.content .middleTitle {
  width: 100%;
  height: 40px;
  font-size: 12px;
}
.content .middleTitle span {
  display: inline-block;
  padding-left: 25px;
  margin: 0 10px;
  height: 40px;
  line-height: 40px;
  background-position: 0 10px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.content .middleTitle .bgImg1 {
  background-image: url("https://yanxuan.nosdn.127.net/a03dd909803b9ac032eba58b7253a2f6.png");
}
.content .middleTitle .bgImg2 {
  background-image: url("https://yanxuan.nosdn.127.net/2d0402ffcd52b3ec3b07422681c42a89.png");
}
.content .middleTitle .bgImg3 {
  background-image: url("https://yanxuan.nosdn.127.net/eb61ee48e8942dbd1784c9ee75ebe955.png");
}
.content .categorylist {
  border-bottom: 10px solid #eee;
  width: 100%;
}
.content .categorylist .listwarper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.content .categorylist .listwarper .listitem {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-bottom: 10px;
}
.content .categorylist .listwarper .listitem img {
  width: 55px;
  height: 55px;
  margin-bottom: 10px;
}
.content .categorylist .listwarper .listitem span {
  font-size: 14px;
}
.content .options-index1 {
  padding: 10px;
  border-bottom: 10px solid #eee;
}
.content .options-index1 .header {
  width: 100%;
  height: 40px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}
.content .options-index1 .imgitem {
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  display: flex;
}
.content .options-index1 .imgitem .item1 {
  width: 50%;
  height: 250px;
  background: #eee;
  float: left;
  position: relative;
  margin-right: 5px;
}
.content .options-index1 .imgitem .item1 img {
  width: 130px;
  height: 130px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -65px;
  margin-top: -65px;
}
.content .options-index1 .imgitem .item1 span {
  display: inline-block;
  margin: 20px 0 0 10px;
}
.content .options-index1 .imgitem .item2 {
  background: #e1ffff;
  width: 50%;
  height: 250px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.content .options-index1 .imgitem .item2 img {
  width: 100px;
  height: 100px;
}
.content .options-index1 .imgitem .item2 .item-top {
  background: #ffefd5;
  height: 120px;
}
.content .options-index1 .imgitem .item2 .item-top img {
  float: left;
}
.content .options-index1 .imgitem .item2 .item-top .word {
  float: right;
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0 0;
}
.content .options-index1 .imgitem .item2 .item-bottom {
  background: #7ff A;
  margin-top: 5px;
  height: 120px;
}
.content .options-index1 .imgitem .item2 .item-bottom .word {
  float: left;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.content .options-index1 .imgitem .item2 .item-bottom img {
  float: right;
}
.content .options-index2 {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.content .options-index2 .header {
  width: 100%;
  height: 40px;
  font-size: 16px;
  position: relative;
  line-height: 40px;
}
.content .options-index2 .header .more {
  position: absolute;
  right: 30px;
  font-size: 14px;
}
.content .options-index2 .imgitem {
  display: flex;
  flex-wrap: wrap;
}
.content .options-index2 .imgitem .item {
  width: 175px;
  height: 140px;
  background-size: 100% 100%;
}
.content .options-index2 .imgitem .item .word {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
}
.content .options-index2 .imgitem .item1 {
  margin: 0 5px 5px 0;
  background-image: url("https://yanxuan.nosdn.127.net/74e2ea8f81004d0a60f90fc8e4649058.png?imageView&thumbnail=343y260&enlarge=1");
}
.content .options-index2 .imgitem .item2 {
  background-image: url("https://yanxuan.nosdn.127.net/c097be14110f769d58245cdad73e15c3.png?imageView&thumbnail=343y260&enlarge=1");
}
.content .options-index2 .imgitem .item3 {
  background-image: url("https://yanxuan.nosdn.127.net/66a23d776f41cba70d00803a5231124b.png?imageView&thumbnail=343y260&enlarge=1");
}
.content .options-index2 .imgitem .item4 {
  margin: 5px 0 0 5px;
  background-image: url("https://yanxuan.nosdn.127.net/c9e14b08576b6a5e2bc3ef46e0e05d08.png?imageView&thumbnail=343y260&enlarge=1");
}
.tabFooter {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background: #fff;
}
.tabFooter .tabBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.tabFooter .tabBar li {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 20%;
  text-align: center;
}
.tabFooter .tabBar li span {
  font-size: 12px;
  display: inline-block;
  margin-top: 6px;
}
