// $rem = 75px
html,body
  //第一屏home页
  width 100%
  height 100%
  #home
    width 100%
    height 100%    
    position relative
    .homeHeader
      position fixed
      top 0px
      z-index 10
      width 100%
      .homeHeader-top
        width 100%
        height 45px
        background #fff
        // position fixed

        // background skyblue
        display flex
        align-items: center
        padding 5px 20px
        .headerTitle
          color #000
          margin-right 10px
          font-size 18px
        .toSearch
          width 250px
          height 30px         
          text-align center
          line-height 30px
          background #eee
          border-radius 5px
          .icon-sousuo
            font-size 20px
            vertical-align middle
          .searchProduct
            font-size 14px
      .homeHeader-bottom
        position relative
        width 100%
        height 40px
        display flex
        background #fff
        .headerTab
          display flex
          align-items center
          height 40px
          width 80%
          white-space nowrap
          overflow hidden
          .tabItem
            height 40px
            box-sizing border-box
            margin 0 15px
            font-size 15px
            line-height 40px
            &.active
              color red
              border-bottom 2px solid red
        .icon         
          // float right
          // position relative
          color #333
          .iconfont
            // background skyblue 
            position absolute
            right 20px
            top 13px
            z-index 7
            &showlist 
              display none
            
          // 全部频道页面
        .alltablist  
          width 100%
          // height 200px
          position absolute
          z-index 6
          background #fff
          // height 150px
          // background skyblue 
          padding 15px
          .alltablist-title
            font-size 15px            
          .alltab
            display flex
            flex-wrap wrap
            margin-top 15px          
            .tabItem
              border 1px solid #333
              border-radius 5px
              width 70px
              height 25px
              text-align center
              line-height 25px
              margin 0 0 20px 10px
              font-size 12px
              &.active
                color red
                border 1px solid red
    .mask
      position absolute
      width 100%
      height 100%
      background rgba(0,0,0,.5)
      z-index 5
      
      // position absolute
      // bottom 0

// 轮播图
    .content
      margin-top 95px
      // position absolute
      padding-bottom 50px
      top 0
      .scrollImg
        width 100%
        height 200px
        .imglist
          position relative
          .imgItem
            position absolute
            top 0
            left 0
            img 
              width 100%
              height 200px
      .middleTitle
        width 100%
        height 40px
        // background skyblue 
        font-size 12px
        
        span 
          display inline-block
          padding-left 25px
          margin 0 10px
          height 40px
          line-height 40px
          background-position 0 10px
          background-size 20px 20px
          background-repeat no-repeat
        .bgImg1
          background-image: url(https://yanxuan.nosdn.127.net/a03dd909803b9ac032eba58b7253a2f6.png);
        .bgImg2
          background-image: url(https://yanxuan.nosdn.127.net/2d0402ffcd52b3ec3b07422681c42a89.png);
        .bgImg3
          background-image: url(https://yanxuan.nosdn.127.net/eb61ee48e8942dbd1784c9ee75ebe955.png);
      .categorylist
        border-bottom 10px solid #eee
        width 100%
        .listwarper
          display flex
          flex-wrap wrap
          align-items center
          // padding 10px
          width 100%
          box-sizing border-box
          .listitem
            display flex
            flex-direction column
            width 20%
            margin-bottom 10px
            img 
              width 55px
              height 55px
              margin-bottom 10px
            span 
              font-size 14px
      .options-index1
        padding 10px    
        border-bottom 10px solid #eee   
        .header
          width 100%
          height 40px
          // background skyblue 
          font-size 20px
          text-align center
          line-height 40px
        .imgitem
          width 100%
          height 250px
          box-sizing border-box
          
          display flex
          .item1
            width 50%
            height 250px
            background #eee
            float left
            position relative
            margin-right 5px
            

            img 
              width 130px
              height 130px
              position absolute
              left 50%
              top 50%
              margin-left -65px
              margin-top -65px
              
            span
              display inline-block
              margin 20px 0 0 10px
          .item2
            background #E1FFFF
            width 50%
            height 250px
            display flex
            flex-direction column
            box-sizing border-box
            img 
              width 100px
              height 100px
            .item-top
              background	#FFEFD5
              height 120px
              img 
                float left
              .word
                float right
                display flex
                flex-direction column
                margin 10px 10px 0 0 
              
             
            .item-bottom
              background	#7FFFA
              margin-top  5px
              height 120px
              .word
                float left
                margin-top 20px
                display flex
                flex-direction column

              img 
                float right

      .options-index2
        width 100%
        padding 10px
        box-sizing border-box
        .header
          width 100%
          height 40px
          font-size 16px
          position relative
          line-height 40px
          .more
            position absolute
            right 30px
            font-size 14px
        .imgitem
          display flex
          flex-wrap wrap
          .item 
            width 175px
            height 140px
            background-size 100% 100%
            .word
              display flex
              flex-direction column
              align-items center
              margin-top 10px
              font-size 14px    
          .item1
            margin 0 5px 5px 0
            background-image url(https://yanxuan.nosdn.127.net/74e2ea8f81004d0a60f90fc8e4649058.png?imageView&thumbnail=343y260&enlarge=1)
          .item2
            background-image url(https://yanxuan.nosdn.127.net/c097be14110f769d58245cdad73e15c3.png?imageView&thumbnail=343y260&enlarge=1)
          .item3
            background-image url(https://yanxuan.nosdn.127.net/66a23d776f41cba70d00803a5231124b.png?imageView&thumbnail=343y260&enlarge=1)
          .item4
            margin 5px 0 0 5px
            background-image url(https://yanxuan.nosdn.127.net/c9e14b08576b6a5e2bc3ef46e0e05d08.png?imageView&thumbnail=343y260&enlarge=1)





     // 底部导航
    .tabFooter
      width 100%
      height 50px
      position fixed
      bottom 0
      background #fff
      .tabBar
        display flex
        align-items center
        justify-content center
        padding-top 10px
        
        li
          display flex
          flex-direction column 
          justify-items center
          width 20%
          text-align center
          span
            font-size 12px
            display inline-block
            margin-top 6px
          




          

          
          
          
          


            












